.c-finder__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #426ac4;
  padding: 10px;
  position: relative;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.c-finder {
  flex-basis: 25%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-right: 20px;
  padding: 10px;
  width: 100%;

  &:focus {
    outline: none;
    border-color: #2c3e50;
    box-shadow: 0 0 0 1px #2c3e50;
  }

  @media (min-width: 768px) {
    padding: 0 0 0 10px;
    order: unset;
    width: auto;
  }
}

.c-finder__search {
  order: 4;
  @media (min-width: 768px) {
    order: unset;
  }
}

.c-finder__input-clear {
  order: 3;

  @media (min-width: 768px) {
    order: unset;
  }
}

.c-finder__button {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #426ac4;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  margin-right: 20px;
  width: 100%;

  &:hover {
    background-color: #fff;
    border: 1px solid #2c3e50;
    color: #2c3e50;
  }

  @media (min-width: 768px) {
    width: auto;
  }
}

.c-finder__item {
  @media(max-width: 768px) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.c-finder__results-number {
  position: fixed;
  bottom: 2%;
  background-color: #5476c4;
  padding: 2px;
  text-align: center;
  z-index: 450;
  color: #fff;
  width: 40%;
  margin-bottom: 0;

  &.c-finder__no-results {
    background-color: #af5e66;
  }

  @media (min-width: 768px) {
    position: unset;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    border-radius: 5px;
  }
}

.c-finder__results-text {
  margin: 5px 0;

  &--bold {
    font-weight: bold;
  }
}

.c-finder__options {
  display: flex;
  order: 1;

  @media (min-width: 768px) {
    flex-direction: column;
    order: unset;
  }
}

.c-finder__option {
  color: #fff;
  margin-bottom: 2px;

  @media (max-width: 768px) {
    display: flex;
  }
}

.c-language__options {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 4px;
  z-index: 450;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 0;
    height: 100%;
  }
}

.c-language__select {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.c-language__option {
  cursor: pointer;

  &--active {
    font-weight: 700;
    text-decoration: underline;
  }
}
