@import "../../../variables";

:host {
  position: absolute;
  left: 220px;
  top: 10px;
  z-index: $base-zindex;
}

.c-finder__container {
  display: flex;
  z-index: 450;
}

.c-finder {
  flex-basis: 25%;
  height: 40px;
  font-size: 18px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #fff;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 10px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 0 0 10px;
    width: auto;
  }

  &:focus {
    outline: none;
  }
}

.c-finder__input {
  display: flex;
  border-radius: 5px;

  &--focus {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.25);
  }
}

.c-finder__button {
  height: 40px;
  border-radius: 0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #426ac4;
  cursor: pointer;
  color: $color-white;
  font-size: 18px;;
  width: 100%;

  &:hover {
    background-color: #5476c4;
    color: #fff;
  }

  @media (min-width: 768px) {
    width: auto;
  }
}

.c-finder__input-clear {
  border-radius: 5px;
  margin-left: 10px;
}

.c-finder__item {
  @media(max-width: 768px) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.c-finder__options {
  display: flex;
  order: 1;

  @media (min-width: 768px) {
    flex-direction: column;
    order: unset;
  }
}

.c-language__options {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 4px;
  z-index: 450;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 0;
    height: 100%;
  }
}

.c-language__select {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.c-language__option {
  cursor: pointer;

  &--active {
    font-weight: 700;
    text-decoration: underline;
  }
}
