<main>
  <app-finder (searchValue)="submitValue($event)" [searchPhrase]="searchValue"></app-finder>
  <app-search-options
    (optionValue)="handleOption($event)"
    [placesNumber]="placesNumber"
    [activeLayer]="chosenLayer"
    [activeOption]="optionValue"
    (layerOption)="onChangeLayer($event)"
  ></app-search-options>
  <app-predefined-options [layer]="chosenLayer" (searchOption)="submitValue($event, true)"></app-predefined-options>
  <app-carto-map [center]="[52.2, 18.5]" zoom="7" (onMapCreated)="onMapCreated($event)">
    <app-basemap
      [map]="map"
      url="https://{s}.basemaps.cartocdn.com/rastertiles/light_all/{z}/{x}/{y}.png">
    </app-basemap>

    <app-layer
      [map]="map"
      [client]="cartoClient"
      [layerSource]="layerSource"
      [layerStyle]="layerStyle">
    </app-layer>

    <app-layer
      [map]="map"
      [client]="cartoClient"
      [layerSource]="layerOptions.places.source"
      [layerStyle]="layerOptions.places.layerStyle"
      [currentLayer]="chosenLayer"
    >
    </app-layer>

    <app-layer
      [map]="map"
      [client]="cartoClient"
      [layerSource]="layerOptions.rivers.source"
      [layerStyle]="layerOptions.rivers.layerStyle"
      [currentLayer]="chosenLayer"
    >
    </app-layer>
  </app-carto-map>
</main>
