<main>
  <app-finder [placesNumber]="placesNumber"
              (searchValue)="submitValue($event)"
              (optionValue)="handleOption($event)"
              [activeOption]="optionValue"
              [searchPhrase]="searchValue"
  >
  </app-finder>
  <app-predefined-options (searchOption)="submitValue($event, true)"></app-predefined-options>
  <app-carto-map [center]="[52, 19]" zoom="7" (onMapCreated)="onMapCreated($event)">
    <app-basemap
      [map]="map"
      url="https://{s}.basemaps.cartocdn.com/rastertiles/light_all/{z}/{x}/{y}.png">
    </app-basemap>

    <app-layer
      [map]="map"
      [client]="cartoClient"
      [layerSource]="layerSource"
      [layerStyle]="layerStyle">
    </app-layer>

    <app-layer
      [map]="map"
      [client]="cartoClient"
      [layerSource]="pointsLayerSource"
      [layerStyle]="pointsLayerStyle">
    </app-layer>

<!--    <app-layer-->
<!--      [map]="map"-->
<!--      [client]="cartoClient"-->
<!--      [layerSource]="linesLayersSource"-->
<!--      [layerStyle]="linesLayerStyle">-->
<!--    </app-layer>-->
  </app-carto-map>
</main>
