:host {

}

#map {
  width: 100%;
  height: 100%;
}

.c-widget__author-link {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #426ac4;
  border: 0 solid #2c3e50;
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 500;
  cursor: pointer;
  text-decoration: none;
  color: #fff;

  &:hover{
    background-color: #fff;
    border: 1px solid #2c3e50;
    color: #2c3e50;
  }
}

