@import '../../../variables';

.c-options__container {
  position: fixed;
  top: 33vh;
  right: 1%;
  max-width: 200px;
  padding: 0.5rem 1rem;
  background-color: #426ac4;
  border-radius: 5px;
  color: $color-white;
  z-index: 450;

  @media (min-width: 1280px) {
    top: 100px;
    right: 1%;
  }

  @media (min-width: 768px) {
    top: 125px;
    right: 1%;
  }
}

.c-options__title {
  margin: 8px 0;
}

.c-options__select {
  padding: 3px;
  font-size: 16px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.c-options__option {

}
