@import '../../../variables';

:host {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 450;

  @media (min-width: 768px) {
    top: 60px;
    left: 220px;
  }
}

.c-options__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  min-width: 250px;
  padding: 1.5rem 1rem;
  background-color: #426ac4;
  border-radius: 5px;
  color: $color-white;
  @media (min-width: 768px) {
    padding: 0.5rem 1rem;
  }
}

.c-options__title {
  margin-right: 10px;
}

.c-options__select {
  padding: 3px;
  font-size: 16px;

  @media (max-width: 768px) {
    width: 100%;
  }
}
