<div class="c-options__container">
  <p class="c-options__title">Use predefined phrases</p>
  <select class="c-options__select">
    <option class="c-options__option">-nowo</option>
    <option class="c-options__option">-niewo</option>
    <option class="c-options__option">-ówka</option>
    <option class="c-options__option">-nów</option>
    <option class="c-options__option">-tów</option>
    <option class="c-options__option">-ycze</option>
    <option class="c-options__option">-łowo</option>
    <option class="c-options__option">-szów</option>
    <option class="c-options__option">-psk</option>
    <option class="c-options__option">-wice</option>
    <option class="c-options__option">-czów</option>
    <option class="c-options__option">-zdrój</option>
    <option class="c-options__option">-szcze</option>
    <option class="c-options__option">-jmy</option>
    <option class="c-options__option">-bork</option>
  </select>
</div>
