<div class="c-options__container">
  <p class="c-options__title">{{ 'predefined phrases' | translate }}</p>
  <select class="c-options__select" (change)="onOptionsChange($event)">
    <option class="c-options__option">-wicze</option>
    <option class="c-options__option">-niewo</option>
    <option class="c-options__option">-zdrój</option>
    <option class="c-options__option">-szcze</option>
    <option class="c-options__option">-nowo</option>
    <option class="c-options__option">-ówka</option>
    <option class="c-options__option">-ycze</option>
    <option class="c-options__option">-łowo</option>
    <option class="c-options__option">-towo</option>
    <option class="c-options__option">-szów</option>
    <option class="c-options__option">-wice</option>
    <option class="c-options__option">-czów</option>
    <option class="c-options__option">-łęka</option>
    <option class="c-options__option">-wieś</option>
    <option class="c-options__option">-rsk</option>
    <option class="c-options__option">-bork</option>
    <option class="c-options__option">-rzew</option>
    <option class="c-options__option">-chów</option>
    <option class="c-options__option">-góra</option>
    <option class="c-options__option">-ewo</option>
    <option class="c-options__option">-nów</option>
    <option class="c-options__option">-tów</option>
    <option class="c-options__option">-psk</option>
    <option class="c-options__option">-jmy</option>
    <option class="c-options__option">-lew</option>
    <option class="c-options__option">-pol</option>
    <option class="c-options__option">now-</option>
    <option class="c-options__option">mała-</option>
  </select>
</div>
